
@import url("/images/bg-intro-desktop.png");

body {
    background-image: url("./images/bg-intro-desktop.png");
}

.attribution {
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }

.footer-text {
  font-size:x-small;
  margin-left: 20px;
}

.header-tag {
  margin-top:-530px;
  border-radius: 15px;
  padding-right: 190px;
  padding-left: 150px;
  padding-top: 20px;
  padding-bottom: 12px;
  }

  @media only screen and (max-width: 800px) {
    .header-tag {
      padding-right: 90px;

    }
  }

 
.left-text {
  margin-top:150px;
  margin-left: 30px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

@media only screen and (max-width: 800px) {
  .left-text {
    position: absolute;
    margin-top: -100px;
    width:450px;
    height: 500px;
    text-align: center;
  }
}

.body-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

.right-box {
  align-items: center;
  justify-items: center;
  margin-right: 400px;
  margin-left: 100px;
}

@media only screen and (max-width: 800px) {
  .right-box {
    display: flex;
    margin-top: 1000px;
    margin-left:0px;
    margin-bottom: -850px;    
  }
}